.photo {
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
  display: flex;
  height: auto;
  width: 90%;
}

.show-nav .photo {
  visibility: hidden;
}

.about {
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  border-radius: 50%;
}  

@media all and (max-width: 800px)
{
  .about{
    height: 40%;
    width: 40%;
  }
}
@media all and (min-width: 800px)
{
  .about{
    height: 17%;
    width: 17%;
  }
}