.container {
    display: flex;
    padding: 0 55px;
  }
  
  .item {
    aspect-ratio: 1.6796;
    border: solid;
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 0 0 19.547%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
  }

.item .logos {
    position: absolute;
    top: 0;
    left: 0; 
    height: 3vh; 
    width: 3vw;
    opacity: 1;
    z-index: 1000;
}

.robot {
    background-image: url("/img/robot.png");
}

.gmm { 
    background-image: url("/img/gmm.png");
}

.wind {
    background-image: url("/img/wind.jpg");
}

.riotstats {
    background-image: url("/img/lol2.png");
}

.fingerprint {
    background-image: url("/img/fingerprint.png");
}

.container:hover .item {
    transform: translateX(-25%);
}
 
.item:hover ~ .item {
    transform: translateX(25%);
 }

.item:hover {
    transform: scale(1.5) !important;
    cursor: pointer;
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }